.profile-pic {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
}
.profile-button {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}
